extends layout

block sidebar
  //https://startbootstrap.com/templates/simple-sidebar/
  //sidebar
  nav#sidebar-wrapper.bg-light.border-right
    div#sidebar-scroll-wrapper.list-group.list-group-flush
      div#sidebarOptions.list-group-item.list-group-item-action
        button#updateURLCoords(type="button").btn.btn-outline-dark.btn-sm.sidebarButton Update URL coordinates
        //p some buttons
      
      div.list-group-item.list-group-item-action.bg-dark.toggle-bar
        button#parameter-toggle(type="button").btn.btn-outline-light.btn-sm.sidebarButton Toggle parameter options
      div#browser-controls.list-group-item.list-group-item-action.bg-light.toggled
        div#bboxCoordSelection
          p Bounding-Box border coordinates
          div.form-group
            input#bboxNorth(name='bboxNorth',placeholder="North").form-control-sm.bboxForm
            input#bboxWest(name='bboxWest',placeholder="West").form-control-sm.bboxForm
            input#bboxEast(name='bboxEast',placeholder="East").form-control-sm.bboxForm
            input#bboxSouth(name='bboxSouth',placeholder="South").form-control-sm.bboxForm
          button#confirmCoords(type="button").btn.btn-secondary.btn-sm.sidebarButton Confirm selection
          button#clearCoords(type="button").btn.btn-secondary.btn-sm.sidebarButton Clear selection
          hr
        div#Keywords
          p Include keywords:
          input#includeKeywords(name='includeKeywords',placeholder="separated by comma").form-control-sm.bboxForm
          p Exclude keywords:
          input#excludeKeywords(name='excludeKeywords',placeholder="separated by comma").form-control-sm.bboxForm
          button#confirmFilter(type="button").btn.btn-secondary.btn-sm.sidebarButton confirm
          hr
        div#events
          p Weather event filter
          input#eventFilter(name='eventFilter',placeholder="separated by comma").form-control-sm.bboxForm
          button#confirmEventFilter(type="button").btn.btn-secondary.btn-sm.sidebarButton confirm
          button#resetEventFilter(type="button").btn.btn-secondary.btn-sm.sidebarButton reset
          hr
        div#LevelsPre
          p Min Precipitation level
          input#LevelsPreMin(type="number").form-control-sm
          p Max Precipitation level
          input#LevelsPreMax(type="number").form-control-sm
          hr
          button#saveLevels(type="button").btn.btn-secondary.btn-sm.sidebarButton Save Paramters
          div#PrecLevelError
          hr
        div#getPrec
          button#getPrec(type="button").btn.btn-secondary.btn-sm.sidebarButton Get updated Precipitation
      // from here on Precipitation

      //From here on summary stats
      div.list-group-item.list-group-item-action.bg-dark.toggle-bar
        button#parameter-toggle1(type="button").btn.btn-outline-light.btn-sm.sidebarButton Toggle summary statistics
      div#browser-controls1.list-group-item.list-group-item-action.bg-light.toggled
        div#bboxCoordSelection1
          p Density of Tweets
          div.btn-group-vertical
            p Sigma for density (Value between 0.001 and 99)
            input#densitysigma(type="number",placeholder="0.2", min="0.00000" max="100" step="0.01").form-control-sm.bboxForm
            button#density(type="button").btn.btn-secondary.btn-sm.sidebarButton Refresh Density of Tweets
          hr
          p Quadratic count of Tweets
          div.btn-group-vertical
            p Breaks at longitude and latitude (Value between 1 and 256)
            p along longitude:
            input#xbreak(type="number",placeholder="5", min="1" max="256" step="any").form-control-sm.bboxForm
            p along latitude:
            input#ybreak(type="number",placeholder="5", min="1" max="256" step="any").form-control-sm.bboxForm
            button#quadrat(type="button").btn.btn-secondary.btn-sm.sidebarButton Get Quadratic count of Tweets
          hr
          p Function for Tweets
          div.btn-group-vertical
            button#wordcloud(type="button").btn.btn-secondary.btn-sm.sidebarButton Generate Wordcloud
            button#timeline(type="button").btn.btn-secondary.btn-sm.sidebarButton Tweets over Time
            button#ann(type="button").btn.btn-secondary.btn-sm.sidebarButton Show Average Nearest Neighbour
            button#kest(type="button").btn.btn-secondary.btn-sm.sidebarButton Show K-Function
            button#lest(type="button").btn.btn-secondary.btn-sm.sidebarButton Show L-Function
            button#fest(type="button").btn.btn-secondary.btn-sm.sidebarButton Show F-Function
            button#gest(type="button").btn.btn-secondary.btn-sm.sidebarButton Show G-Function
          hr
          a#linksummary
            img#imagesummary.img-responsive
          
        //p browser controls. forms and such here
      div.list-group-item.list-group-item-action.bg-dark.toggle-bar
        button#browser-toggle(type="button").btn.btn-outline-light.btn-sm.sidebarButton Toggle tweet-browser
      div#tweet-browser.list-group-item.list-group-item-action.bg-light.toggled
        //this is where a scrollable list of tweets on the map appears
      div#impressum.list-group-item.list-group-item-action.bg-dark
        p Geomergency 2020      
  
block content
  div#map
  div#progressIndicatorBar.bg-dark
    div#progressIndicator.border.rounded
