extends layout

block sidebar
  nav#sidebar
    div.sidebar-wrapper
      div#features.panel.panel-default
        div.panel-heading
          h3.panel-title sidebar header
          div#map-controls
          div#tweet-browser
            
  
block content
  div.content-wrapper
    div#map
    script(src="/leafletscript")
    script(src="/siteScripts")
