extends layout

block sidebar
  //https://startbootstrap.com/templates/simple-sidebar/
  //sidebar
  nav#sidebar-wrapper.bg-light.border-right
    div.sidebar-heading sidebar
    div.list-group.list-group-flush
      a(href="/").list-group-item.list-group-item-action.bg-light home
        
            
  
block content
  div#map
