extends layout

block sidebar
  //https://startbootstrap.com/templates/simple-sidebar/
  //sidebar
  nav#sidebar-wrapper.bg-light.border-right
    div#sidebar-scroll-wrapper.list-group.list-group-flush
      div#sidebarOptions.list-group-item.list-group-item-action.bg-light
        button#updateURLCoords(type="button").btn.btn-secondary.btn-sm.sidebarButton update URL coordinates
        //p some buttons
      
      div.list-group-item.list-group-item-action.bg-dark.toggle-bar
        button#parameter-toggle(type="button").btn.btn-outline-light.btn-sm.sidebarButton toggle parameter-options
      div#browser-controls.list-group-item.list-group-item-action.bg-light.toggled
        div#bboxCoordSelection
          p Bounding-Box border coordinates
          div.form-group
            input#bboxNorth(name='bboxNorth',placeholder="North").form-control-sm.bboxForm
            input#bboxWest(name='bboxWest',placeholder="West").form-control-sm.bboxForm
            input#bboxEast(name='bboxEast',placeholder="East").form-control-sm.bboxForm
            input#bboxSouth(name='bboxSouth',placeholder="South").form-control-sm.bboxForm
          button#confirmCoords(type="button").btn.btn-secondary.btn-sm.sidebarButton confirm selection
          button#clearCoords(type="button").btn.btn-secondary.btn-sm.sidebarButton clear selection
          hr
        div#Keywords
          p include keywords:
          input#includeKeywords(name='includeKeywords',placeholder="separated by comma").form-control-sm.bboxForm
          p exclude keywords:
          input#excludeKeywords(name='excludeKeywords',placeholder="separated by comma").form-control-sm.bboxForm
          button#confirmFilter(type="button").btn.btn-secondary.btn-sm.sidebarButton confirm
          hr

      // from here on Precipitation
      div.list-group-item.list-group-item-action.bg-dark.toggle-bar
        button#parameter-toggle2(type="button").btn.btn-outline-light.btn-sm.sidebarButton toggle Precipitation Filter
      div#browser-controls2.list-group-item.list-group-item-action.bg-light.toggled
        div#bboxCoordSelection2
          p Bounding-Box border coordinates
          div.form-group
            input#bboxNorth2(name='bboxNorth',placeholder="North").form-control-sm.bboxForm
            input#bboxWest2(name='bboxWest',placeholder="West").form-control-sm.bboxForm
            input#bboxEast2(name='bboxEast',placeholder="East").form-control-sm.bboxForm
            input#bboxSouth2(name='bboxSouth',placeholder="South").form-control-sm.bboxForm
          button#confirmCoords2(type="button").btn.btn-secondary.btn-sm.sidebarButton Save Parameters
          button#deleteCoords2(type="button").btn.btn-secondary.btn-sm.sidebarButton Delete Parameters
          hr
        div#LevelsPre
          p Minimim Precipitation level
          input#LevelsPreMin(name='preMin',type="number").form-control-sm(placeholder="0")
          p Max Precipitation level
          input#LevelsPreMax(name='PreMax', type="number").form-control-sm(placeholder="5")
          hr
          button#saveLevels(type="button").btn.btn-secondary.btn-sm.sidebarButton Save Paramters
          div#PrecLevelError
          hr
        div#getPrec
          button#getPrec(type="button").btn.btn-secondary.btn-sm.sidebarButton Get updated Precipitation
      //From here on summary stats
      div.list-group-item.list-group-item-action.bg-dark.toggle-bar
        button#parameter-toggle1(type="button").btn.btn-outline-light.btn-sm.sidebarButton toggle Summary Statistics
      div#browser-controls1.list-group-item.list-group-item-action.bg-light.toggled
        div#bboxCoordSelection1
          p Statistics
          div.btn-group-vertical
            button#density(type="button").btn.btn-secondary.btn-sm.sidebarButton Refresh Density of Tweets
            button#kest(type="button").btn.btn-secondary.btn-sm.sidebarButton Show K-Function
            button#lest(type="button").btn.btn-secondary.btn-sm.sidebarButton Show L-Function
            button#fest(type="button").btn.btn-secondary.btn-sm.sidebarButton Show F-Function
            button#gest(type="button").btn.btn-secondary.btn-sm.sidebarButton Show G-Function
          a#linksummary
            img#imagesummary.img-responsive
          

        div#events
          p weather event filter
          input#eventFilter(name='eventFilter',placeholder="separated by comma").form-control-sm.bboxForm
          button#confirmEventFilter(type="button").btn.btn-secondary.btn-sm.sidebarButton confirm
          button#resetEventFilter(type="button").btn.btn-secondary.btn-sm.sidebarButton reset

        //p browser controls. forms and such here
      div.list-group-item.list-group-item-action.bg-dark.toggle-bar
        button#browser-toggle(type="button").btn.btn-outline-light.btn-sm.sidebarButton toggle tweet-browser
      div#tweet-browser.list-group-item.list-group-item-action.bg-light.toggled
        //this is where a scrollable list of tweets on the map appears

    
    div#impressum.list-group-item.list-group-item-action.bg-light
      p Geomergency 2019
        
            
  
block content
  div#map
  div#progressIndicatorBar.bg-dark
    div#progressIndicator.border.rounded
