doctype html
html
  head
    title= title  
    .meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    link(rel='stylesheet', href='/stylesheetpug')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/leaflet/leaflet.css')
    script(src="/jquery/jquery.js")
    script(src="/bootstrap/js/bootstrap.js")
    script(src="/leaflet/leaflet.js")
  body
    div.row
      div#sidebar.col-3
        div.container-fluid
          div.row
            div#nav.col-sm.btn.btn-warning(onclick='loadDoc') Warnings
            div#nav.col-sm.btn.btn-warning Weather Events
            div#nav.col-sm.btn.btn-warning Preciption
          block navig
      div#map.col-9
      script(src="/leafletscript")
      block content
